# =========================
# Global
# =========================
.DS_Store
Thumbs.db
*.log

# =========================
# Environment files
# =========================
.env
.env.*
!.env.example

# =========================
# Laravel
# =========================
/auth-service/vendor/
/auth-service/node_modules/
/auth-service/storage/*.key
/auth-service/storage/logs/
/auth-service/storage/framework/cache/
/auth-service/storage/framework/sessions/
/auth-service/storage/framework/views/
/auth-service/bootstrap/cache/

/account-service/vendor/
/account-service/node_modules/
/account-service/storage/*.key
/account-service/storage/logs/
/account-service/storage/framework/cache/
/account-service/storage/framework/sessions/
/account-service/storage/framework/views/
/account-service/bootstrap/cache/

# =========================
# Next.js
# =========================
/frontend/node_modules/
/frontend/.next/
/frontend/out/
/frontend/.env.local
/frontend/.env.*.local
/frontend/npm-debug.log*
/frontend/yarn-error.log*

# =========================
# Docker
# =========================
docker-compose.override.yml
*.pid

# =========================
# IDE / Editor
# =========================
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
